.left-container {
    position: absolute;
    top: 102px;
    left: 15px;
    width: 448px;
    height: 90%;
    z-index: 999;
}

.left-container .tit {
    position: absolute;
    left: 30px;
    top: 16px;
    height: 16px;
    font-family: Source Han Sans CN;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;

    color: #FFFFFF;
}

/*左侧顶部样式start */
.left-container .top-box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 448px;
    height: 300px;
    opacity: 1;
    background: url("../images/newstyle/left_bg.png") no-repeat;
    background-size: 100% 100%;
}

.left-container .top-box .top-box-container {
    width: 408px;
    height: 224px;
    margin: 58px 20px 18px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-container .top-box .top-box-container .content {
    width: 100%;
    height: 65px;
    display: flex;
    background: rgba(6, 49, 76, 0.75);
    border: 1px solid rgba(96, 136, 197, 0.5);

}

.left-container .top-box .top-box-container .content .title {
    width: 104px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #A3B4E2;
    font-size: 12px;
    border-right: 1px solid rgba(45, 109, 193, 0.5);
}

.left-container .top-box .top-box-container .content .msg {
    color: #fff;
}

.left-container .top-box .top-box-container .content .msg-item {
    width: 152px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.left-container .top-box .top-box-container .content .msg-item .number {

    font-family: Arial;
    font-size: 24px;
}

.left-container .top-box .top-box-container .content .msg-item .num1 {
    color: #49CAFC;
}

.left-container .top-box .top-box-container .content .msg-item .num2 {
    color: #FB4329;
}

/*左侧顶部样式end */



/*左侧中间样式start */
.left-container .middle-box {
    margin: 10px 0;
    width: 448px;
    height: 300px;
    background: url("../images/newstyle/left_bg.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 320px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container .middle-box .middle-box-container {
    width: 100%;
    height: 246px;
    margin: 54px 0 0 0;

}

.left-container .middle-box .middle-box-container .header-box {
    width: 408px;
    height: 40px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container .middle-box .middle-box-container .header-box .title {
    width: 56px;
    font-family: Source Han Sans CN;
    font-size: 14px;
    font-weight: normal;
    color: #A3B4E2;
    padding-right: 4px;
}

.left-container .middle-box .middle-box-container .header-box .select {
    width: 342px;
    height: 32px;
    background: rgba(35, 132, 221, 0.12);
    box-sizing: border-box;
    border: 1px solid #1F6EDA;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    text-indent: 14px;
}

.left-container .middle-box .middle-box-container .content-box {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-container .middle-box .middle-box-container .content-box .chart-box {
    width: 200px;
    height: 200px;
}

.left-container .middle-box .middle-box-container .content-box .table {
    width: 248px;
    height: 200px;

}



/*左侧中间样式end*/


/*左侧底部样式start */
.left-container .bottom-box {
    position: absolute;
    top: 660px;
    left: 0;
    margin: 10px 0;
    width: 448px;
    height: 300px;
    background: url("../images/newstyle/left_bg.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container .bottom-box .bottom-box-container {
    width: 100%;
    height: 240px;
    margin: 60px 0 0 0;
}

.left-container .bottom-box .bottom-box-container .header-box {
    width: 408px;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(96, 136, 197, 0.5);
}

.left-container .bottom-box .bottom-box-container .header-box .content {
    width: 136px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.left-container .bottom-box .bottom-box-container .header-box .content .text {
    font-size: 14px;
    color: #fff;

}

.left-container .bottom-box .bottom-box-container .header-box .content .number {
    font-family: Arial;
    font-size: 24px;
    font-weight: normal;
}

.left-container .bottom-box .bottom-box-container .header-box .content .num1 {

    color: #51D8F8;
}

.left-container .bottom-box .bottom-box-container .header-box .content .num2 {

    color: #00FFC7;
}

.left-container .bottom-box .bottom-box-container .header-box .content .num3 {
    color: #E3382E;
}

.left-container .bottom-box .bottom-box-container .header-box .content .num4 {
    color: #51D8F8;
}

.left-container .bottom-box .bottom-box-container .content-box {
    width: 100%;
    display: flex;
}

.left-container .bottom-box .bottom-box-container .content-box .chart-box {
    width: 200px;
    height: 120px;
}

.left-container .bottom-box .bottom-box-container .content-box .table {
    width: 248px;
    height: 120px;

}

/*左侧底部样式end */