/*左边模块样式start*/
.left-container {
    position: absolute;
    top: 102px;
    left: 15px;
    width: 448px;
    height: 90%;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
  }
  .left-container .top-box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 448px;
    height: 300px;
    opacity: 1;
    background: url("../images/newstyle/ztts_Bg.png") no-repeat;
    background-size: 100% 100%;
  }

   .left-container .middle-box .circle {
      position: absolute;
      top: 22%;
      right: 3.2%;
      width: 220px;
      height: 220px;
      background: url('../images/newstyle/circle-rotate.png') no-repeat;
      background-size: 100% 100%;
      animation: rotate_icon 5s linear infinite;
      -moz-animation: rotate_icon 5s linear infinite;
      -webkit-animation: rotate_icon 5s linear infinite;
      -o-animation: rotate_icon 5s linear infinite;
   }
   .left-container .middle-box .chart {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
   }
   .left-container .middle-box .chart .content {
    width: 198px;
    height: 200px;
    display: flex;
    flex-direction: column;
    color: #fff;
   }
   .left-container .middle-box .chart .content .content-item {
    flex: 1;
   }
   .left-container .middle-box .chart .content .content-item  .item-msg {
    width: 100%;
    display: flex;
    justify-content: space-around;
   }
   .left-container .middle-box .chart .content .content-item img {
    padding-left: 22px;
   } 
 #unitCharts-container {
  width: 250px;
  height: 250px;
 }
 .top-box-container {
    width: 100%;
    height: 70%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

 }
 .top-box-container .top-box-item {
    width: 50%;
    height: 50%;
    /* margin: 0 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }
 .top-box-container .top-box-item .title {
    font-family: PingFang SC;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0em;
    color: #FFFFFF;
    opacity: .85;
 }
 
 .top-box-container .content {
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: space-between;
 }
 .top-box-container .top-box-item .content .number {
    width: 150px;
    height: 34px;
    background: url('../images/yinzhouScreen/1综合态势/总体态势/nav_Bg.png') no-repeat;
    background-size: 100% 100%;
    line-height: 40px;
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0em;
    color: #FFFFFF;
 } 
 .top-box-container .top-box-item .content .icon {
    width: 40px;
    height: 40px;
     /* background: url('../images/yinzhouScreen/1综合态势/总体态势/重点建筑物.png') no-repeat; */
    background-size: 100% 100%;
 }
 .top-box-container .top-item1 .icon{
    background: url('../images/yinzhouScreen/1综合态势/总体态势/重点建筑物.png') no-repeat;
 }
 .top-box-container .top-item2 .icon{
    background: url('../images/yinzhouScreen/1综合态势/总体态势/重点单位.png') no-repeat;
 }
 .top-box-container .top-item3 .icon{
    background: url('../images/yinzhouScreen/1综合态势/总体态势/联网设备数.png') no-repeat;
 }
 .top-box-container .top-item4 .icon{
    background: url('../images/yinzhouScreen/1综合态势/总体态势/报警故障.png') no-repeat;
 }
 .top-box-container .top-box-item .content .icon img {
     animation: rotate_icon 3s linear infinite;
      -moz-animation: rotate_icon 3s linear infinite;
      -webkit-animation: rotate_icon 3s linear infinite;
      -o-animation: rotate_icon 3s linear infinite;
 }
@keyframes rotate_icon {
   0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
  
}


 /* .chart {
    width: 95%;
    height: 80%;
    margin-top: 50px;
    padding: 0 10px;
 }
 .chart .row {
        width: 100%;
        height: 32px;
        background: url('../images/yinzhouXf/tr.png') no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 14px;
        margin: 12px 0;
        animation: breath_light 3s ease infinite;
 }
    .chart .row  .row-con1 {
        width: 36px;
        height: 22px;
        
    }
    .chart .row .row-con2{
        width: 80px;
        padding-left: 10px;
    }
    .chart .row .row-con3 {
        height: 8px;
        background-size: 100% 100%;

    }
    .chart .row .row-con4 {
        width: 25px;
        height: 25px;
        background: url('../images/yinzhouXf/point.png') no-repeat;
        background-size: 100% 100%;
        position: relative;
        left: -13px;
    }
    .chart .row .row-con5 {
        flex: 1;
        text-align: right;
        padding-right: 10px ;

    }
    .chart .row .row-1 {
        width: 208px;
        background: url('../images/yinzhouXf/top1.png') no-repeat;
        animation: scale 2s 1 ease-in-out;
    }
    .chart .row .row-2 {
        width: 159px;
        background: url('../images/yinzhouXf/top2.png') no-repeat;
        animation: scale2 2s 1 ease-in-out;
        animation: name duration timing-function delay iteration-count direction fill-mode;
    }
    .chart .row .row-3 {
        width: 126px;
        background: url('../images/yinzhouXf/top3.png') no-repeat;
        animation: scale3 2s 1 ease-in-out;
    }
    .chart .row .row-4 {
        width: 105px;
        background: url('../images/yinzhouXf/top4.png') no-repeat;
        animation: scale4 2s 1 ease-in-out;
    }
    .chart .row .row-5 {
        width: 96px;
        background: url('../images/yinzhouXf/top5.png') no-repeat;
        animation: scale5 2s 1 ease-in-out;
    }
    .chart .row .con1 {
        background: url('../images/yinzhouXf/01.png') no-repeat;
        background-size: 100% 100%;
    }
    .chart .row .con2 {
        background: url('../images/yinzhouXf/02.png') no-repeat;
        background-size: 100% 100%;
    }
    .chart .row  .con3 {
        background: url('../images/yinzhouXf/03.png') no-repeat;
        background-size: 100% 100%;
    }
    .chart .row .con4 {
        background: url('../images/yinzhouXf/04.png') no-repeat;
        background-size: 100% 100%;
    }
    .chart .row .con5 {
        background: url('../images/yinzhouXf/05.png') no-repeat;
        background-size: 100% 100%;
    } */
    
  .left-container .middle-box {
    margin: 10px 0;
    width: 448px;
    height: 300px;
    background: url("../images/newstyle/normal_middle.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 320px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-container .middle-box .top-box-container .title{
       margin-left: -40px;
  }
  

/*左边下面 echarts图表start*/
  .left-container .bottom-box {
    position: absolute;
    top: 640px;
    left: 0;
    margin: 10px 0;
    width: 448px;
    height: 300px;
    background: url("../images/newstyle/normal_bottom.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* #echarts-container {
    width: 100%;
    height: 100%;
  } */
  #pieEcharts-container1 {
    width: 400px;
    height: 300px;
  }
  /*左边下面 echarts图表end*/


  
  @keyframes scale{
    0% {
       width: 0;
    }
    50%{
      width: 103px;
    }
    100%{
      width: 208px;
    }
}
@keyframes scale2{
    0% {
       width: 0;
    }
    50%{
      width: 80px;
    }
    100%{
      width: 159px;
    }
}
@keyframes scale3{
    0% {
       width: 0;
    }
    50%{
      width: 63px;
    }
    100%{
      width: 126px;
    }
}
@keyframes scale4{
    0% {
       width: 0;
    }
    50%{
      width: 52px;
    }
    100%{
      width: 105px;
    }
}
@keyframes scale5{
    0% {
       width: 0;
    }
    50%{
      width: 48px;
    }
    100%{
      width: 96px;
    }
}
@keyframes breath_light {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(180%);
    }

    100% {
        filter: brightness(100%);
    }
}

  /*左边模块样式end*/