/*右边模块样式start*/
.right-container {
    position: absolute;
    top: 102px;
    right: 15px;
    width: 448px;
    height: 90%;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
  }
  
 /*右边模块头部top样式 start*/
  .right-container .top-box{
    position: absolute;
    right: 0px;
    top: 675px;
    width: 448px;
    height: 300px;
    opacity: 1;
    background: url("../../images/shhz/labelBack.png") no-repeat;
    background-size: 100% 100%;
  }

.right-container .top-box .header-box {
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
.right-container .top-box .header-box .title {
    margin-right: 60px;
    color: #fff;
    font-size: 12px;
}
.right-container .top-box .header-box .num {
    color: #0effff;
}


.right-container .top-box .middle-box {
    width: 100%;
    height: 80px;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 17px; */
    margin: 6px 0;
}
.right-container .top-box .middle-box .content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
}
.right-container .top-box .middle-box .content .img {
    width: 60px;
    height: 60px;
    background: url("../../images/shhz/xuanzhuan1.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.right-container .top-box .middle-box .rotate {
    animation: rotate 5s linear infinite;
    -moz-animation: rotate 5s linear infinite;
    -webkit-animation: rotate 5s linear infinite;
    -o-animation: rotate 5s linear infinite;
    }
.right-container .top-box .middle-box img {
        position: absolute;
        width: 44px;
        height: 44px;
        animation: rotateContent 5s linear infinite;
        -moz-animation: rotateContent 5s linear infinite;
        -webkit-animation: rotateContent 5s linear infinite;
        -o-animation: rotateContent 5s linear infinite;
    }
.right-container .top-box .middle-box .content .text {
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 16px;
    }
.right-container .top-box .middle-box .content .text .title {
        /* width: 100px; */
        font-family: Source Han Sans CN;
        font-size: 12px;
        font-weight: normal;
    }
.right-container .top-box .middle-box .content .text .num {
        width: 100%;
        font-family: Arial;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0em;
        color: #0effff;
    }


.right-container .top-box .bottom-box {
    width: 100%;
    height: 50%;
    position: relative;
    top: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-container .top-box .bottom-box .container {
      width: 408px;
      height: 100%;
      padding: 0 10px;
      background: url("../../images/shhz/rightTopBg.png") no-repeat;
      background-size: 100% 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
        }
.right-container .top-box .bottom-box .container .title {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    }
.right-container .top-box .container .icon {
    }
    .right-container .top-box .container .guzhang {
        color: #ffb258;
        margin: 0 5px 0 5px;
    }

.right-container .top-box .bottom-box .container  .content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    }
.right-container .top-box .bottom-box .container .content .img {
        width: 50%;
        height: 93%;
        background: url("../../images/shhz/xftdImage.png") no-repeat;
        background-size: 100% 100%;
    }
.right-container .top-box .bottom-box .container  .content .text {
        width: 200px;
        height: 93%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 12px;
        font-size: 12px;
    }
.right-container .top-box .bottom-box .container  .content .text .title-item {
        color: rgba(255, 255, 255, 0.6);
    }

  /*右侧水资源模块样式start*/
  .right-container .middle-box-container{
    position: absolute;
    right: 0px;
    top: 320px;
    width: 448px;
    height: 330px;
    opacity: 1;
    background: url("../../images/shhz/labelBack.png") no-repeat;
    background-size: 100% 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #pieEcharts-container {
     width: 150px;
     height: 150px;
     animation: rotateContent 5s linear infinite;

  }
  .right-container .middle-box-container .shun-rotate {
    width: 188px;
    height: 188px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/水资源/shun-rotate.png')no-repeat;
    background-size: 100% 100%;
    /* position: absolute;
    top: 20px;
    left: 30%; */
    animation: rotate 5s linear infinite;
  }
  .right-container .middle-box-container .ni-rotate {
    width: 151px;
    height: 151px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/水资源/ni-rotate.png')no-repeat;
    background-size: 100% 100%;

  }
  .right-container .middle-box-container .shun-rotate2 {
    width: 74px;
    height: 74px;
    /* background-color: red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: url('../../images/shhz/yinzhouScreen/1综合态势/水资源/shun-rotate2.png')no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 60px;
    left: 37%;
  }
  .right-container .middle-box-container .ni-rotate2 {
    width: 32px;
    height: 32px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/水资源/ni-rotate2.png')no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 102px;
    left: 46%;
    animation: rotateContent 2s linear infinite;
  }
  .right-container .middle-box-container .echart-box {
    margin-top: 15px;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .right-container .middle-box-container .tools-box {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .right-container .middle-box-container .tools-box .content {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-container .middle-box-container .tools-box .content .header {
    display: flex;
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #28A5F7;
  }
  .right-container .middle-box-container .tools-box .content .header .title {
    padding-left: 10px;
    font-family: SourceHanSansCN-Regular;
    font-size: 16px;
    font-weight: normal;
  }
  .right-container .middle-box-container .tools-box .content .number {
    margin-top: 16px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }

   /*右侧水资源模块样式end*/


  .right-container .bottom-box-container{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 448px;
    height: 300px;
    opacity: 1;
    background: url("../../images/shhz/labelBack.png") no-repeat;
    background-size: 100% 100%;
    margin: 10px 0;

  }
  .right-container .bottom-box-container .street1 {
    position: absolute;
    left: 11px;
    top: 51px;
    width: 56px;
    height: 56px;
    background-size: 100% 100%;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street1.png') no-repeat;
  }
  .right-container .bottom-box-container .street2 {
    position: absolute;
    left: 235px;
    top: 44px;
    width: 58px;
    height: 57.59px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street2.png');
  }
  .right-container .bottom-box-container .street3 {
    position: absolute;
    left: 360px;
    top: 203px;
    width: 58px;
    height: 57.59px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street3.png');
  }
  .right-container .bottom-box-container .street4 {
    position: absolute;
    left: 257px;
    top: 223px;
    width: 58px;
    height: 57.59px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street4.png');
  }
  .right-container .bottom-box-container .street5 {
    position: absolute;
    left: 169px;
    top: 223px;
    width: 58px;
    height: 57.59px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street5.png');
  }
  .right-container .bottom-box-container .street6 {
    position: absolute;
    left: 110px;
    top: 176px;
    width: 58px;
    height: 57.59px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street6.png');
  }
  .right-container .bottom-box-container .street7 {
    position: absolute;
    left: 131px;
    top: 53px;
    width: 58px;
    height: 57.59px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street7.png');
  }
  .right-container .bottom-box-container .street8 {
    position: absolute;
    left: 26px;
    top: 205px;
    width: 58px;
    height: 57.59px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street8.png');
  }
  .right-container .bottom-box-container .street9 {
    position: absolute;
    left: 303px;
    top: 151px;
    width: 58px;
    height: 57.59px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street9.png');
  }
  .right-container .bottom-box-container .street10 {
    position: absolute;
    left: 304px;
    top: 75px;
    width: 58px;
    height: 57.59px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street9.png');
  }
  .right-container .bottom-box-container .street11 {
    position: absolute;
    left: 54px;
    top: 122px;
    width: 58px;
    height: 57.59px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street_error.png');
  }
  .right-container .bottom-box-container .street12 {
    position: absolute;
    left: 179px;
    top: 109px;
    width: 82px;
    height: 82px;
    background: url('../../images/shhz/yinzhouScreen/1综合态势/镇街消防数字化/street_center.png');
  }

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
    }
@keyframes rotateContent {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(-90deg);
    }
    50% {
        -webkit-transform: rotate(-180deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
    }
    /*右边模块样式end*/

/*右边下面 echarts图表start*/
.right-container .bottom-echart-box {
    position: absolute;
    top: 640px;
    left: 0;
    margin: 10px 0;
    width: 448px;
    height: 300px;
    background: url("../../images/newstyle/wlsb_Bg.png") no-repeat;
    background-size: 100% 100%;
}
#echarts-container {
    width: 100%;
    height: 100%;
}
/*右边下面 echarts图表end*/

.label-title{
    position: absolute;
    left: 24px;
    top: 16px;
    width: 200px;
    height: 16px;
    opacity: 1;
    font-family: Source Han Sans CN;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    color: #FFFFFF;
}
.waterTop{
    position: absolute;
    left: 16px;
    top: 59px;
    width: 115px;
    height: 50px;
    opacity: 1;

}
.waterTop1{
    left: 16px;
    top: 59px;
}
.waterTop2{
    left: 172px;
    top: 59px;
}
.waterTop3{
    left: 329px;
    top: 59px;
}
.waterIcon{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 36px;
    height: 46px;
    opacity: 1;
}
.waterIcon1{
    background: url("../../images/shhz/xfs.png") no-repeat;
}
.waterIcon2{
    background: url("../../images/shhz/shuiyuan.png") no-repeat;
 }
.waterIcon3{
    background: url("../../images/shhz/qushuikou.png") no-repeat;
}
.waterName{
    position: absolute;
    left: 44px;
    top: 9px;
    width: 60px;
    height: 12px;
    opacity: 1;

    font-family: SourceHanSansCN-Regular;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    letter-spacing: 0px;

    color: #FFFFFF;
}
.waterNumber{
    position: absolute;
    left: 46px;
    top: 27px;
    width: 57px;
    height: 23px;
    opacity: 1;

    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0em;

    color: #0EFFFF;
}
.waterUnit{
    position: absolute;
    left: 103px;
    top: 31px;
    width: 12px;
    height: 12px;
    opacity: 1;
    font-family: SourceHanSansCN-Regular;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    letter-spacing: 0px;
    color: rgba(255, 255, 255, 0.6);

}

/*table表格样式*/

table {
    margin: 116px 0 0 0px;
    width: 100%;
    height: 190px;
    border: 1px;
    /* height: 200px; */
    /*border-color: #00111B;*/
}
td{
    border: none;
}
th {
    width: 95px;
    white-space: nowrap;
    /* 然后然溢出的部分文字隐藏 */
    overflow: hidden;
    border: none;
    /* 文字溢出显示用省略号。  */
    text-overflow: ellipsis;
}

tr {
    background: #001E2F;
    color: rgba(255, 255, 255, 0.75);
    border: none;
    font-size: 12px
}
tr:hover {
    background-color: #0c2c5f;
}

/*滚动条样式 start*/
/* 设置滚动条的大小 */
.box::-webkit-scrollbar {
    width: 4px; /* 纵向滚动条的大小 */
    height: 10px; /* 横向滚动条的大小 */
}
/* 设置滚动条可拖动滑块的样式 */
.box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #0a4169;
}
/* 设置外层轨道的样式 */
.box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}

/*滚动条样式 end*/

.dateChange{
    font-size: 12px;
    color: #0DCAFA;position: absolute;
    position: absolute;
    width: 28px;
    text-align: center;
    height: 18px;
    border-radius: 4px;
    opacity: 0.5;
    background: #061B4A;
    box-sizing: border-box;
    border: 1px solid #A8B9F1;
}
.dateChange1{
    position: absolute;
    left: 280px;
    top: 14px;
    width: 28px;
    height: 18px;
    border-radius: 2px;
    opacity: 1;

    background: #061B4A;

    box-sizing: border-box;
    border: 1px solid #0DCAFA;

    box-shadow: inset 0px 0px 6px 0px rgba(13, 202, 250, 0.4);
}
.dateChange2{
    left: 316px;
    top: 15px;
}
.dateChange3{
    left: 352px;
    top: 14px;
}

.right-container .new-top-box .header-box {
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right-container .new-top-box .header-box .title {
    margin-right: 60px;
    color: #fff;
    font-size: 12px;
}
.right-container .new-top-box .header-box .num {
    color: #0effff;
}


.right-container .new-top-box .middle-box {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 17px; */
    margin: 6px 0;
}
.right-container .new-top-box .middle-box .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.right-container .new-top-box .middle-box .content .img {
    width: 60px;
    height: 60px;
    background: url("../../images/yinzhouXf/xuanzhuan1.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-container .new-top-box .middle-box .rotate {
    animation: rotate 5s linear infinite;
    -moz-animation: rotate 5s linear infinite;
    -webkit-animation: rotate 5s linear infinite;
    -o-animation: rotate 5s linear infinite;
}
.right-container .new-top-box .middle-box img {
    position: absolute;
    width: 44px;
    height: 44px;
    animation: rotateContent 5s linear infinite;
    -moz-animation: rotateContent 5s linear infinite;
    -webkit-animation: rotateContent 5s linear infinite;
    -o-animation: rotateContent 5s linear infinite;
}
.right-container .new-top-box .middle-box .content .text {
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 16px;
}
.right-container .new-top-box .middle-box .content .text .title {
    /* width: 100px; */
    font-family: Source Han Sans CN;
    font-size: 12px;
    font-weight: normal;
}
.right-container .new-top-box .middle-box .content .text .num {
    width: 100%;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0em;
    color: #0effff;
}


.right-container .new-top-box .bottom-box {
    width: 100%;
    height: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-container .new-top-box .bottom-box .container {
    width: 408px;
    height: 100%;
    padding: 0 10px;
    background: url("../../images/yinzhouXf/rightTopBg.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right-container .new-top-box .bottom-box .container .title {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
.right-container .new-top-box .container .icon {
}
.right-container .new-top-box .container .guzhang {
    color: #ffb258;
    margin: 0 5px 0 5px;
}

.right-container .new-top-box .bottom-box .container  .content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.right-container .new-top-box .bottom-box .container .content .img {
    width: 50%;
    height: 93%;
    background: url("../../images/yinzhouXf/rightTopBg2.png") no-repeat;
    background-size: 100% 100%;
}
.right-container .new-top-box .bottom-box .container  .content .text {
    width: 200px;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 12px;
    font-size: 12px;
}
.right-container .new-top-box .bottom-box .container  .content .text .title-item {
    color: rgba(255, 255, 255, 0.6);
}

.right-container .new-bottom-box-container{
    position: absolute;
    right: 0px;
    top: 640px;
    width: 448px;
    height: 300px;
    opacity: 1;
    background: url("../../images/newstyle/left_bg.png") no-repeat;
    background-size: 100% 100%;
    margin: 10px 0 0 0;

}
.right-container .middle-box-container .tab-box {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.right-container .middle-box-container .tab-box .tab-item{
    width: 80px;
    height: 30px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    /*border: 1px solid #0c2c5f;*/
    /* flex: 1; */

}
.right-container .middle-box-container .tab-box .active{
    width: 102px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #0c2c5f;
    border: 1px solid #0c2c5f;
    /* flex: 1; */

}
.right-container .middle-box-container .tab-box :hover {
    background-color: #0c2c5f;
}