html,
body {
  width: 100%;
  height: 100%;
 
}
* { 
  padding: 0;
  margin: 0;

}
#cesiumContainer {
  width: 1920px;
  height: 1080px;
}
.container {
  position: relative;
  width: 1920px;
  height: 1080px;
  background-color: rgba(0,0,0,.5);
  
}
/*header 样式start*/
.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: url("../../images/newstyle/new_top_title.png") no-repeat;
  background-size: 100% 100%;
  z-index: 999;
}
.header-left {
  position: absolute;
  top: 0;
  left: 0;

}
.header-left .time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 8px;
  width: 200px;
  height: 28px;
  opacity: 1;
  font-family: LCD2Ultra;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 0px;
  color: #ffffff;
  z-index: 1;
}
.header-left .nav {
  position: absolute;
  left: 20px;
  top: 48px;
  width: 456px;
  height: 34px;
  opacity: 1;
  display: flex;
}
.nav .nav-item {
  flex: 1;
  width: 107px;
  height: 34px;
  
  background-size: 100% 100%;
}
.nav .nav1 {
  background: url("../../images/xfctd/综合态势.png") no-repeat;
}
.nav .nav2 {
  background: url("../../images/xfctd/火灾防控.png") no-repeat;
}
.nav .nav3 {
  background: url("../../images/xfctd/消防执法.png") no-repeat;
}
.nav .nav4 {
  background: url("../../images/xfctd/救援辅助.png") no-repeat;
}
.light {
  position: absolute;
  left: 632px;
  top: 16px;
  width: 664px;
  height: 164px;
  opacity: 1;
  background: url("../../images/xfctd/光2.png") no-repeat;
  background-size: 100% 100%;
}
.top-title {
  position: absolute;
  left: 699px;
  top: 18px;
  opacity: 1;
  width: 27.6%;
  height: 62px;
  font-family: YouSheBiaoTiHei;
  font-size: 34px;
  font-weight: normal;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.01em;
  background: linear-gradient(180deg, #FFFFFF -2%, #FFFFFF 37%, #B4CFF2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  
}
.header-right {
  position: absolute;
  right: 37px;
  top: 44px;
  background-color: red;
  width: 411px;
  height: 49px;
  background: url("../../images/xfctd/rightTopConner.png") no-repeat;
  background-size: 100% 100%;
}
/*header 样式end*/

.section-container {
  position: absolute;
  top: 102px;
  left: 464px;
  width: 300px;
  height: 174px;
  z-index: 999;
}
.section-container .search {
  width: 136px;
  height: 136px;
  position: absolute;
  top: 24px;
  right: 24px;
  background: url('../../images/xfctd/yinzhouScreen/1综合态势/中间/search_Bg.png') no-repeat;
  background-size: 100% 100%;
  animation: search_rotate 5s linear infinite;
  -moz-animation: search_rotate 5s linear infinite;
  -webkit-animation: search_rotate 5s linear infinite;
  -o-animation: search_rotate 5s linear infinite;
}

@keyframes search_rotate {
   0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.section-container .search-input {
  position: absolute;
  top: 10px;
  left: 24px;
  font-family: Source Han Sans CN;
  font-size: 12px;
  font-weight: normal;
  color: #6DACFF;

}
.section-container .search-input .input {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.section-container .search-input .input .icon {
  
}
.section-container .search-input .input input {
  width: 260px;
  height: 32px;
  border-radius: 2px;
  opacity: 1;
  background: rgba(6, 49, 76, 0.75);
  box-sizing: border-box;
  border: 1px solid #2D6DC1;
  text-indent: 10px;
  margin-top: -18px;
  outline: none
}
.section-container .search-input .input input::input-placeholder{
	color: rgba(255, 255, 255, 0.75);
}
/* .section-container .search-input .layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
} */

/*table表格样式*/

table {
  margin: 116px 0 0 0px;
  width: 100%;
  height: 190px;
  border: 1px;
  /* height: 200px; */
  /*border-color: #00111B;*/
}
td{
  border: none;
  font-size: 12px;
}
th {
  width: 95px;
  white-space: nowrap;
  /* 然后然溢出的部分文字隐藏 */
  overflow: hidden;
  border: none;
  /* 文字溢出显示用省略号。  */
  text-overflow: ellipsis;
}

tr {
  background: #001E2F;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  height: 30px;
  font-size: 12px
}
tr:hover {
  background-color: #0c2c5f;
}



/* 点位弹窗样式 start*/
#info_box {
  position: absolute;
  display: block;
  z-index: 999;
  width: 300px;
  height: 200px;
  background-color: red;
}
#info {
  position: absolute;
  z-index: 999;
  display: none;
  /* width: 336px;
  display:block;
  height: 170px;
  border-radius: 4px;
  color: #fff;
  background: url('../images/newstyle/info-build-bg.png') no-repeat;
  background-color: 100% 100%; */
}
#info .info-unit-window {
  width: 300px;
  height: 362px;
  display: block;
  border-radius: 4px;
  color: #fff;
  background: url('../../images/newstyle/info-unit-bg.png') no-repeat;
  background-size: 100% 100%;
}
#info .info-build-window {
  width: 402px;
  height: 190px;
  display: block;
  border-radius: 4px;
  color: #fff;
  background: url('../../images/newstyle/info-build-bg.png') no-repeat;
  background-size: 100% 100%;
}
#info .info-smoke-window {
  width: 336px;
  height: 170px;
  display: block;
  border-radius: 4px;
  color: #fff;
  background: url('../../images/newstyle/info-build-bg.png') no-repeat;
  background-size: 100% 100%;
}
#info .info-water-window {
  width: 336px;
  height: 170px;
  display: block;
  border-radius: 4px;
  color: #fff;
  background: url('../../images/newstyle/info-build-bg.png') no-repeat;
  background-size: 100% 100%;
}
#info .info-xfs-window {
  width: 336px;
  height: 170px;
  display: block;
  border-radius: 4px;
  color: #fff;
  background: url('../../images/newstyle/info-build-bg.png') no-repeat;
  background-size: 100% 100%;
}
#info .info-camera-window {
  width: 336px;
  height: 170px;
  display: block;
  border-radius: 4px;
  color: #fff;
  background: url('../../images/newstyle/info-build-bg.png') no-repeat;
  background-size: 100% 100%;
}
#info img {
  margin: 16px 0 0 30px;
}
#info .info-title {
  height: 16px;
  line-height: 16px;
  display: inline-block;
}
#info .info-close {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
#info::after {
  content: '';
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: rgb(20,63,91) transparent transparent transparent;
  bottom: -20px;
  left: 150px;
}
#info .unit-title {
  color: #0DCAFA;
  margin: 20px;
}
#info .unit-content {
  width: 250px;
  height: 68px;
  margin: 0 0 10px 20px;
  font-size: 12px;
  color: rgba(255,255,255 .8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#info .device {
  width: 260px;
  height: 180px;
  margin: 0 20px;
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#info .device .device-item {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
#info .device .device-item span {
  display: inline-block;

}
#info .device .device-item .span {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
#info .device .device-item .online {
  font-size: 20px;
  font-weight: bold;
  color: #1feded;
}
#info .device .device-item .offline {
  font-size: 20px;
  font-weight: bold;
  color: #d4d4d4;
}
#info .device .device-item .error {
  font-size: 20px;
  font-weight: bold;
  color: #ffb258;
}

/*烟感样式*/
#info .smoke-title {
  color: #FB4329;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
}
#info .somke-content {
  width: 300px;
  height: 100px;
  margin-left: 20px;
  font-size: 14px;
  color: rgba(255,255,255 .8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#info .somke-content .error {
  color: #FB4329;
}
#info .somke-content .normal {
  color: #0DCAFA;
}
/* 水源样式 */

#info .water-title {
  color: #0DCAFA;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
}
/* 摄像头 */
#info .camera-title {
  color: #0DCAFA;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
}

/* 建筑物样式 */
#info .build-title {
  color: #0DCAFA;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
}

#info .build-content {
  width: 300px;
  height: 100px;
  margin: 0 0 10px 20px;
  font-size: 14px;
  color: rgba(255,255,255 .8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 点位弹窗样式 end*/
